* {
    box-sizing: border-box;
  }
  
  header {
    border: 1px solid red;
    padding: 15px;
    text-align: center;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .five-days {
    margin: 12px;
  }