* {
    box-sizing: border-box;
  }
  
  header {
    padding: 15px;
    text-align: center;
    color: white;
    background-color: rgb(65, 65, 65);
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
  }

  .search-side {
    background-color: rgb(240, 240, 240);
  }

  #past-searches {
    background-color: white;
    color: rgb(133, 133, 133);
  }

  .current-weather {
    margin: 10px;
    padding: 0;
    border: 1px solid rgb(221, 221, 221);
  }

  #uvVal {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    color: white;
  }

  .five-days {
    margin: 12px;
    background-color: rgb(83, 143, 255);
    border-radius: 5px;
    color: white;
  }

  #fiveDayH2 {
    padding-left: 10px;
  }

  .uvGreen {
    background-color: green;
  }

  .uvYellow {
    background-color: yellow;
  }

  .uvOrange {
    background-color: orange;
  }

  .uvRed {
    background-color: red;
  }